/* ---------------------------------------------------------
   Overrides Just the Docs – custom.scss
   Ce fichier est chargé APRES les styles du thème
   --------------------------------------------------------- */

/* -------------------------
   Largeur de la sidebar
   ------------------------- */
$nav-width: 100px;   // Ajuste ici si tu veux plus large (320 / 360 / 400)

/* -------------------------
   Styles des titres
   ------------------------- */

/* h1 */
.main-content h1 {
  font-size: 3rem;     // Taille
  font-weight: 700;      // Gras
  color: #5a003f;        // Couleur
  font-family: "Inter", sans-serif; // Police optionnelle
  margin-top: 2.2rem;
}

/* h2 */
.main-content h2 {
  font-size: 2.3rem;
  font-weight: 600;
  color: #612454;
  font-family: "Inter", sans-serif;
  margin-top: 2rem;
}

/* h3 */
.main-content h3 {
  font-size: 1.9rem;
  font-weight: 600;
  color: #713979;
  font-family: "Inter", sans-serif;
  margin-top: 1.6rem;
}

/* h4 si besoin */
.main-content h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #865a94;
}

/* h4 si besoin */
.main-content h5 {
  font-size: 1.3rem;
  font-weight: 600;
  color: #865a94;
}