---
---
/* ==== JUST THE DOCS BASE STYLES ==== */
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

/* ==== CUSTOM OVERRIDES ==== */

/* Largeur du menu gauche */
$nav-width: 100px;

/* Désactiver la mise en majuscule par défaut pour les titres */
.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {

}


/* Titres */
.main-content h1 {
  font-size: 2.3rem !important;
  font-weight: 700 !important;
  color: #000000 !important;
}

.main-content h2 {
  font-size: 2.0rem !important;
  font-weight: 700 !important;
  color: rgb(109, 13, 153) !important;
}

.main-content h3 {
  font-size: 1.7rem !important;
  font-weight: 700 !important;
  color: rgb(109, 13, 153) !important;
}


.main-content h4 {
  font-size: 1.5rem !important;
  font-weight: 700 !important;
  color: rgb(109, 13, 153) !important;
  text-transform: none !important;
  letter-spacing: normal !important;
}

.main-content h5 {
  font-size: 1.2rem !important;
  font-weight: 700 !important;
  color: rgb(109, 13, 153) !important;
}

.main-content h6 {
  font-size: 1.0rem !important;
  font-weight: 700 !important;
  color: rgb(182, 23, 255) !important;
}


/* Modification Menu Gauche*/
@media (min-width: 50.5rem) {
  .side-bar,
  .site-nav,
  .site-header,
  .main {
    margin-left: 10rem !important;
  }
}
