/* ==== CUSTOM OVERRIDES ==== */

/* Largeur du menu gauche */
$nav-width: 600px;

/* Titres */
.main-content h1 {
  font-size: 5rem !important;
  font-weight: 700 !important;
  color: #1e2a38 !important;
}

.main-content h2 {
  font-size: 4rem !important;
  font-weight: 600 !important;
  color: #2F3E52 !important;
}

.main-content h3 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: #3F4F6A !important;
}
