---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

/* ==== CUSTOM OVERRIDES ==== */

/* Largeur du menu gauche */
$nav-width: 600px;

/* Titres */
.main-content h1 {
  font-size: 5rem !important;
  font-weight: 700 !important;
  color: #1e2a38 !important;
}

.main-content h2 {
  font-size: 4rem !important;
  font-weight: 600 !important;
  color: #2F3E52 !important;
}

.main-content h3 {
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: #3F4F6A !important;
}
