---
---
/* ==== JUST THE DOCS BASE STYLES ==== */
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}

/* ==== CUSTOM OVERRIDES ==== */

/* Largeur du menu gauche */
$nav-width: 100px;

/* Titres */
.main-content h1 {
  font-size: 2.6rem !important;
  font-weight: 700 !important;
  color: #533b6e !important;
}

.main-content h2 {
  font-size: 2.3rem !important;
  font-weight: 600 !important;
  color: #5c1c53 !important;
}

.main-content h3 {
  font-size: 2rem !important;
  font-weight: 600 !important;
  color: #5c1c53 !important;
}

.main-content h5 {
  font-size: 1.6rem !important;
  font-weight: 600 !important;
  color: #5c1c53 !important;
}

.main-content h5 {
  font-size: 1.3rem !important;
  font-weight: 600 !important;
  color: #79256d !important;
}